@mixin font-metrics($font-size, $line-height: 0) {
	font-size: rem-calc($font-size);

	@if ($line-height != 0) {
		line-height: ($line-height/$font-size) * 100%;
	}
}

@mixin last-paragraph-margin() {
	p, ul, ol, dl {
		&:last-child { margin-bottom: 0; }
	}	
}

@mixin inline-definition-list() {
	dt {
		display: inline;
		margin: 0;

		&:after { content: ":"; }
		// line-break before each dt
		&:before {
			//content: "\a";
			//white-space: pre;
		}
		// remove line-break before first dt
		//&:first-child:before { display: none; }
	}
	dd { 
		display: inline; 
		margin: 0;

		&:after {
			content: " ";
			display: block;
		}

		&:last-child:after { display: none; }
	}
}

@mixin type-scale($body-type-scale, $heading-type-scale) {

	p, ul, ol, dl { 
		font-size: $paragraph-font-size*$body-type-scale; 
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $header-bottom-margin*$body-type-scale;
	}

    h1 { font-size: $h1-font-size*$heading-type-scale; }
    h2 { font-size: $h2-font-size*$heading-type-scale; }
    h3 { font-size: $h3-font-size*$heading-type-scale; }
    h4 { font-size: $h4-font-size*$heading-type-scale; }
    h5 { font-size: $h5-font-size*$heading-type-scale; }
    h6 { font-size: $h6-font-size*$heading-type-scale; }
}

@media #{$small-only} {

	@include type-scale(3/4, 2/3);
}

@media #{$medium-only} {

	@include type-scale(7/8, 3/4);
}
