/* Global Elements */

body {
  background-color: $white;
  color: $black;
}

img {
  width: 100%;
  height: auto !important;
}

iframe {
  border: 0 none;
}

/* Global Mixins */
@mixin backgroundCover() {
  background-position: 50% 50%;
  background-size: cover;
}

@mixin sectionPadding() {
  padding-bottom: rem-calc(30);
  padding-top: rem-calc(30);
}