/* Menus */

/* Main/header menu */
.main-menu {
  div {
    ul {
      li {
        a { 
          color: $black;

          &:hover, 
          &:active {
            color: $silver;
          }

          &:visited {
            color: $black;
          }
        }

        &.current-menu-item,
        &.current-page-parent {
          a {
            color: $alert-color;
          }
        }

        &.menu-item-has-children {
          ul {
            li {
              a {
                color: $black;

                &:hover, 
                &:active {
                  color: $silver;
                }

                &:visited {
                  color: $black;
                }
              }

              &.current-menu-item,
              &.current-page-parent {
                a {
                  color: $alert-color;
                }
              }        
            }
          }
        }
      }
    }
  }
}

/* Footer menu */
.footer-menu {
  div {
    ul {
      li {
        a {
          color: $black;

          &:hover, 
          &:active {
            color: $silver;
          }

          &:visited {
            color: $black;
          }
        }

        &.current-menu-item,
        &.current-page-parent {
          a {
            color: $alert-color;
          }
        }
      }
    }
  }
}