/* Menus */

/* Main/header menu */
.main-menu {
  div {
    .menu {
      .menu-item {
        a { 
          color: $primary-color;

          &:hover, 
          &:active {
            color: $secondary-color;
          }

          &:visited {
            color: $primary-color;
          }
        }

        &.current-menu-item,
        &.current-page-parent {
          a {
            color: $alert-color;
          }
        }

        &.menu-item-has-children {
          .sub-menu {
            .menu-item {
              a {
                color: $primary-color;

                &:hover, 
                &:active {
                  color: $secondary-color;
                }

                &:visited {
                  color: $primary-color;
                }
              }

              &.current-menu-item,
              &.current-page-parent {
                a {
                  color: $alert-color;
                }
              }        
            }
          }
        }
      }
    }
  }
}

/* Footer menu */
.footer-menu {
  div {
    .menu {
      .menu-item {
        a {
          color: $primary-color;

          &:hover, 
          &:active {
            color: $secondary-color;
          }

          &:visited {
            color: $primary-color;
          }
        }

        &.current-menu-item,
        &.current-page-parent {
          a {
            color: $alert-color;
          }
        }
      }
    }
  }
}